# Python
__pycache__/
*.pyc

# Virtual environment
.venv/

# OS
.DS_Store

# Logs / caches
.pytest_cache/
.mypy_cache/
.ruff_cache/

/data

# Coverage
.coverage

# Weights & Biases
wandb/

# Training artifacts
model.pth
train.log
mlops_exercises/
